@using Web_BanXeMoTo.Models
@model IEnumerable<CartModel>

@{ ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    double ToTalAmount = 0; }


<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Hình Ảnh</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Tổng tiền</th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            ToTalAmount += item.ThanhTien;
                                            <tr>

                                                <td><a href="#"><img src="@item.Hinh" alt="@item.Idmau"></a></td>

                                                <td><a class="aa-cart-title" href="@Url.ActionLink("ProductDetails","Customer",new {id = item.Idmau })">@item.TenXe</a></td>
                                                <td> @string.Format("{0:N0}", ((Int64)item.GiaBan)) VNĐ</td>
                                                <td>
                                                    <button type="button" data-id="@item.Idmau" class="ajax-minus fa fa-minus" style="width: auto; color : #ff6666">  </button>
                                                    &nbsp;
                                                    <span id="soLuong_@item.Idmau">@item.SoLuong</span>
                                                    &nbsp;
                                                    <button type="button" data-id="@item.Idmau" class="ajax-add fa fa-plus" style="width: auto; color : #ff6666">  </button>

                                                </td>
                                                <td>
                                                    <span id="thanhTien_@item.Idmau">@string.Format("{0:N0}", ((Int64)item.ThanhTien)) </span> VNĐ
                                                </td>
                                                <td>
                                                    @*<a asp-action="RemoveCart" asp-controller="GioHang"   data-id="@item.Idmau" class="ajax-delete btn btn-sm btn-danger">X</a>*@
                                                    <p>  <button type="button" data-id="@item.Idmau" class="ajax-delete fa fa-times" style="width: auto; color : #ff6666">  </button></p>

                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr style="font-size: 130%">
                                        <th>Tổng tiền</th>
                                        <td style="color: #FF0000"><span id="tongTien">@string.Format("{0:N0}", ((Int64)ToTalAmount))</span> VNĐ</td>
                                    </tr>



                                </tbody>
                            </table>
                            <a class="aa-cart-view-btn" asp-action="ThanhToan" asp-controller="GioHang" data-target="#checkout-modal">Thanh toán</a>
                            <a asp-action="PaypalCheckout">
                                <img src="~/img/Background/paypal-logo.jpg" height="70" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
@section scriptsdelete{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $(".ajax-minus").click(function () {
                $.ajax({
                    url: "/GioHang/MinusFromCart",

                    data: {
                        id: $(this).data("id"),
                        type: "ajax"
                    },

                    success: function (data) {

                        $("#cart_count").html(data.total);
                        $("#soLuong_" + data.id).html(data.soLuong);
                        $("#thanhTien_" + data.id).html(new Intl.NumberFormat().format(data.thanhTien));
                        $("#tongTien").html(new Intl.NumberFormat().format(data.tongTien));

                        console.log(data)
                    },
                });
            });
        });
        $(document).ready(function () {
            $(".ajax-delete").click(function () {
                $.ajax({
                    url: "/GioHang/RemoveFromCart",

                    data: {
                        id: $(this).data("id"),
                        type: "ajax"
                    },

                    success: function (data) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Xe đã được xóa khỏi giỏ hàng',
                            showConfirmButton: false,
                            timer: 2500
                        });
                        $("#cart_count").html(data.soLuong);
                        console.log(data)
                        setTimeout(() => window.location.replace("/giohang/index"), 2500);

                    },
                });
            });
        });
        $(document).ready(function () {
            $(".ajax-add").click(function () {
                $.ajax({
                    url: "/GioHang/AddToCart",
                    data: {
                        id: $(this).data("id"),
                        type: "ajax"
                    },
                    success: function (data) {

                        $("#cart_count").html(data.total);
                        $("#soLuong_" + data.id).html(data.soLuong);
                        $("#thanhTien_" + data.id).html(new Intl.NumberFormat().format(data.thanhTien));
                        $("#tongTien").html(new Intl.NumberFormat().format(data.tongTien));
                        console.log(data)

                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Thêm giỏ hàng thất bại',
                            text: 'Số lượng sản phẩm đã hết',
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }
                });
            });
        });

    </script>
}

