@using Web_BanXeMoTo.Models
@model IEnumerable<CartModel>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    double ToTalAmount = 0; }


<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Hình Ảnh</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Tổng tiền</th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            ToTalAmount += item.ThanhTien;
                            <tr>

                                <td><a href="#"><img src="@item.Hinh" alt="@item.Idmau"></a></td>

                                <td><a class="aa-cart-title" href="#">@item.TenXe</a></td>
                                <td> @string.Format("{0:N0}", ((Int64)item.GiaBan)) VNĐ</td>
                                <td>
                                    <div class="input-group mb-3" style="max-width: 120px;">
                                       
                                        <input type="text" class="form-control text-center" value="@item.SoLuong" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                        
                                    </div>
                                </td>
                                <td>@string.Format("{0:N0}", ((Int64)item.ThanhTien)) VNĐ</td>
                                <td>
                                    <a asp-action="RemoveCart" asp-controller="GioHang"   asp-route-id="@item.Idmau" class="ajax-delete btn btn-sm btn-danger">X</a>
                                    @*<a>  <button type="button" data-id="@item.Idmau" class="ajax-delete aa-add-to-cart-btn"> X </button></a>*@

                                </td>
                            </tr>
                            }

                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>

                                    <tr>
                                        <th>Tổng tiền</th>
                                        <td>@string.Format("{0:N0}", ((Int64)ToTalAmount)) VNĐ</td>
                                    </tr>



                                </tbody>
                            </table>
                            <a class="aa-cart-view-btn" href="" data-toggle="modal" data-target="#checkout-modal">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
@*@section scriptsdelete{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>$(document).ready(function () {
            $(".ajax-delete").click(function () {
                $.ajax({
                    url: "/GioHang/RemoveCart",
                    
                    data: {
                        id: $(this).data("id"),
                        SoLuong: 1,
                        type: "ajax"
                    },
                    success: function (data) {
                        Swal.fire({
                            title: 'Bạn có chắc chắn muốn xóa',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Đồng ý'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire(
                                    'Xóa thành công!',
                                    'Xe đã được xóa khỏi giỏ hàng',
                                    'success'
                                )
                            }
                        });
                 
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Xóa sản phẩm thất bại',
                            text: 'Vui lòng thử lại',
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }
                });
            });
        });</script>
}*@

